svg {
  padding: 0 1vh;
}
svg:hover {
  cursor: pointer;
}
#facebook:hover {
  fill: #0d8bf1;
}
#instagram:hover defs linearGradient #stop1 {
  stop-color: #f9af02 !important;
}
#instagram:hover defs linearGradient #stop2 {
  stop-color: #d42259 !important;
}
#instagram:hover defs linearGradient #stop3 {
  stop-color: #7e3baf !important;
}
#sitio_web:hover {
  fill: green;
}
