<h1 class="text-center">Mis negocios</h1>
<div class="panel justify-content-center mt-3">
  <div *ngFor="let negocio of negocios;">
    <div class="row mx-5">
      <div class="col-9">
        <app-negocio
          [negocio]="negocio"
        ></app-negocio>
      </div>
      <div class="col-9 col-lg-2">
        <div class="row align-items-center mx-0 mx-md-3" style="height: 22vh">
          <div class="col">
            <a class="btn btn-success col-12 col-md-8" [routerLink]="['/misNegocios', negocio.id_negocio]">Editar</a>
            <button *ngIf="negocio.estado != ESTADO_PENDIENTE" class="btn btn-warning col-12 col-md-8 my-2"
                    (click)="cambiarEstadoNegocio(negocio)">
              {{negocio.estado == ESTADO_ACTIVO? 'Inactivar' : 'Activar'}}
            </button>
            <button class="btn btn-danger col-12 col-md-8" (click)="eliminarNegocio(negocio.id_negocio)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
