.card {
  width: 100%;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: black;
}
#nombreUsuario {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2vh;
  color: black;
}
#fechaComentario {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2vh;
  color: black;
}
