.acciones {
  display: flex;
  border: none;
  width: 100%;
  justify-content: center;
}
svg {
  fill: #00aeef;
  height: 5vh;
}
.fila {
  display: table-row;
  width: 100vh;
}
.celda {
  display: table-cell;
  width: 100vh;
  padding-right: 3vh;
  border-bottom:  2px solid #04a7ff;
}
