<div class="row mx-0 w-100">
  <!-- Panel izquierdo -->
  <div class="panel col-12 col-lg-6 pb-5 px-0">
    <!-- Imagen -->
    <img [src]="negocio!.fotografia" class="img-fluid imagenNegocio">
    <!-- Información -->
    <div class="d-flex flex-row justify-content-between px-5 pt-4">
      <!-- Nombre del negocio -->
      <div class="col-7">
        <h1 id="nombreNegocio" class="mb-0 mt-1">{{negocio!.nombre}}</h1>
      </div>
      <!-- Estrellas -->
      <div class="col-5">
        <div class="d-flex flex-row">
          <span id="numeroEstrellas" class="px-3">{{puntajePromedio}}</span>
          <app-estrellas class="d-flex flex-row" [puntaje]="puntajePromedio"></app-estrellas>
        </div>
      </div>
    </div>
    <!-- Descripción -->
    <div class="d-flex flex-row px-5 my-4">
      {{negocio!.descripcion}}
    </div>
    <!-- Información -->
    <div class="d-flex flex-row px-5">
      <!-- Productos o servicios -->
      <div class="col-7">
        <h2>Productos o servicios</h2>
        <!-- Itera por la lista de productos -->
        <div *ngIf="productos!.length == 0" class="d-flex flex-row px-5 my-4">
          No se han registrado productos
        </div>
        <ol class="list-group list-group-numbered">
          <li *ngFor="let producto of productos"
            class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto infoProducto text-wrap">
              <div id="productoNombre" class="text-wrap pt-1">{{producto.nombre}}</div>
              {{producto.descripcion}}
            </div>
            <span class="badge bg-primary rounded-pill infoProducto">{{producto.precio | currency}}</span>
          </li>
        </ol>
      </div>
      <!-- Contacto -->
      <div class="col-5">
        <!-- Social media -->
        <h2>Redes sociales y sitio web</h2>
        <div class="d-flex flex-row justify-content-center pt-1 pb-4">
          <app-social-media [enlace_facebook]="negocio!.enlace_facebook"
                            [enlace_instagram]="negocio!.enlace_instagram"
                            [enlace_sitio_web]="negocio!.enlace_sitio_web"
          ></app-social-media>
        </div>
        <!-- Números telefónicos -->
        <h2>Números telefónicos</h2>
        <div class="d-flex flex-row justify-content-center pt-2">
          <svg height="6vh" width="6vh" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg>
          <div class="px-3">
            <div class="d-flex flex-row telefono">
                ({{codigo_telefonico | number:'2.0-0'}}) {{negocio!.telefono_fijo}}
            </div>
            <div class="d-flex flex-row telefono">
              {{negocio!.telefono_movil}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Panel derecho -->
  <div class="col-12 col-lg-6 px-0 py-3">
    <!-- Número de comentarios -->
    <div class="d-flex flex-row px-5 pb-2">
      <span id="comentarios">
        Comentarios: <span id="numeroComentarios">{{cantidadComentarios}}</span>
      </span>
    </div>
    <!-- Comentarios -->
    <div class="panel px-4 panelComentarios">
        <app-comentario *ngFor="let comentario of comentarios"
                        [comentario]="comentario"
                        class="p-3"
        ></app-comentario>
    </div>
    <!-- Escribir comentario -->
    <div class="d-flex flex-row justify-content-center px-5 pt-1 pt-lg-2 pt-xl-4 pt-xxl-5">
      <div *ngIf="comentarioFormGroup">
        <form [formGroup]="comentarioFormGroup" class="comentarioFormulario">
          <!-- Input Estrellas (oculto) -->
          <div class="visually-hidden">
            <input type="number" id="puntaje" formControlName="puntaje">
          </div>
          <!-- Comentario -->
          <textarea formControlName="comentario" class="form-control" id="comentario" rows="3" placeholder="Escribe tu comentario"></textarea>

          <!-- Barra inferior -->
          <div class="d-flex flex-row">
            <div id="barraInferiorComentario" class="row align-items-center mx-0">
              <!-- Estrellas -->
              <div class="col-9">
                <div class="row align-items-center justify-content-start">
                  <div id="preguntaPuntaje" class="col text-end">¿Qué puntuación le daría?</div>
                  <div class="col">
                    <svg *ngFor="let estrella of estrellas; let i = index"
                         (click)="marcarPuntaje(i)"
                         [class.goldStar]="estrella" [class.emptyStar]="!estrella"
                         height="3vh" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                      <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                      <path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/>
                    </svg>
                  </div>
                </div>
              </div>
              <!-- Enviar comentario -->
              <div class="col-3">
                <button type="submit" class="btn enviarComentario my-2" [disabled]="comentarioFormGroup.invalid"
                        (click)="enviarComentario()"
                >Enviar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
