.imagenNegocio {
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
}
#nombreNegocio {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 5vh;
}
#numeroEstrellas {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 5vh;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2vh;
}
.infoProducto, .telefono {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2vh;
}
#productoNombre {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2vh;
}
ol {
  margin-right: 5vh;
}
.panel {
  max-height: 90vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#comentarios {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 4vh;
}
#numeroComentarios {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 4vh;
}
.panelComentarios {
  max-height: 50vh;
}
.panelComentarios:hover {
  box-shadow: inset 0 0 10px 5px #AAAAAA;
}
.enviarComentario {
  background-color: #000000;
  border-radius: 15px;
  border: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2vh;
  width: 15vh;
}
textarea {
  width: 84vh;
  border: none;
  resize: none;
}
.comentarioFormulario {
  width: 85vh;
  border: 1px solid #000000;
}
#barraInferiorComentario {
  width: 85vh;
  background-color: #ccecf1;
  border-top: 1px solid #000000;
}
textarea:focus {
  box-shadow: none;
}
#preguntaPuntaje {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2vh;
}
.table {
  display: table;
}
.filaTabla {
  display: table-row;
}
.celdaTabla {
  display: table-cell;
  width: 25vh;
}
.btnGuardar {
  fill: #00aeef;
  height: 2vh;
}
.tituloTabla {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background-color:  #000000;
}
#posicionObjetos{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.entradas{
  margin-bottom: 2vh;
  margin-top: 2vh;
}
